.dashboard,
.dashboard * {
  box-sizing: border-box;
}

.dashboard {
  background: #ffffff;
  width: 1180px;
  height: 942px;
  position: relative;
  overflow: visible;

  @media (max-width: 1024px) {
    height: 1382px;
  }
}

.red-color {
  background: red !important;
}

.container2 {
  margin-left: 2%;
  padding-bottom: 20px;

  @media (max-width: 768px) {
    margin-left: 0%;
  }
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000021;
}

.img {
  width: 100%;
  height: 65%;
  margin-bottom: 3%;
}

.popup {
  margin-left: 186px;
  background-color: white;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .popup {
    margin-left: 0;
    background-color: white;
    width: 370px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

@media (max-width: 398px) {
  .popup {
    width: 320px;
  }
}

.frame-1171275853 {
  background: #e65f2b;
  border-radius: 48px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 30px;
  top: 960px;
  box-shadow: 0px 8px 15px 0px rgba(19, 15, 57, 0.12);
}

.icons {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.rectangle-41961 {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  width: 90%;
  height: 40vh;
  position: relative;
  left: 30px;
  transition: box-shadow 0.3s ease;
  /* Adding transition for smooth effect */
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.rectangle-41961:hover {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5),
    10px 0px 10px -5px rgba(0, 0, 0, 0.5);
}

.rectangle-41970 {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  width: 90%;
  height: 40vh;
  position: relative;
  left: 40px;
}

.rectangle-41964 {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  width: 330px;
  height: 40vh;
  position: absolute;
  left: 383px;
  top: 205px;
}

.rectangle-41971 {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  width: 330px;
  height: 40vh;
  position: absolute;
  left: 393px;
  top: 567px;
}

.rectangle-41967 {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  width: 327px;
  height: 303px;
  position: absolute;
  left: 744px;
  top: 206px;

  @media (max-width: 1024px) {
    left: 3.26%;
    margin-top: 700px;
  }
}

.drone-ortho-farm-1 {
  border-radius: 33px;
  width: 325px;
  height: 193px;
  position: absolute;
  left: 30px;
  top: 205px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.drone-ortho-farm-4 {
  border-radius: 33px;
  width: 325px;
  height: 193px;
  position: absolute;
  left: 40px;
  top: 567px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.drone-ortho-farm-2 {
  border-radius: 33px;
  width: 330px;
  height: 193px;
  position: absolute;
  left: 383px;
  top: 205px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.drone-ortho-farm-5 {
  border-radius: 33px;
  width: 329px;
  height: 193px;
  position: absolute;
  left: 393px;
  top: 567px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.drone-ortho-farm-3 {
  border-radius: 33px;
  width: 327px;
  height: 192px;
  position: absolute;
  left: 744px;
  top: 205px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: 1024px) {
    left: 3.26%;
    margin-top: 700px;
  }
}

.orthomosaic {
  color: #000000;
  font: 600 24px Inter;
  position: relative;
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  margin-left: 4%;
}

._3-d-model {
  color: #000000;
  text-align: left;
  font: 600 24px Inter;
  position: absolute;
  left: 50px;
  top: 776px;
  width: 167px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dem {
  color: #000000;
  text-align: left;
  font: 600 24px Inter;
  position: absolute;
  left: 402px;
  top: 414px;
  width: 169px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.kmls {
  color: #000000;
  text-align: left;
  font: 600 24px Inter;
  position: absolute;
  left: 412px;
  top: 776px;
  width: 169px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.survey-drawing {
  color: #000000;
  text-align: left;
  font: 600 24px Inter;
  position: relative;
  width: 190px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4%;

  @media (max-width: 1024px) {
    left: 3.26%;
    margin-top: 700px;
  }
}

.tiff-is-without-future-removebg-preview-1 {
  width: 32px;
  height: 33px;
  position: absolute;
  left: 253px;
  top: 204px;
}

.fbx-file-document-icon-vector-24675603-removebg-preview-1 {
  width: 36px;
  height: 40px;
  position: absolute;
  left: 263px;
  top: 776px;
}

.tiff-is-without-future-removebg-preview-2 {
  width: 33px;
  height: 32px;
  position: absolute;
  left: 610px;
  top: 414px;
}

.keyhole-markup-language-1-removebg-preview-2 {
  width: 37px;
  height: 34px;
  position: absolute;
  left: 620px;
  top: 776px;
}

.png-clipart-adobe-acrobat-pdf-computer-icons-adobe-reader-edu-invest-adobe-pdf-text-logo-thumbnail-removebg-preview-1 {
  width: 25px;
  height: 30px;
  position: absolute;
  left: 289px;
  top: 204px;
}

.image-removebg-preview-1 {
  width: 33px;
  height: 36px;
  position: absolute;
  left: 299px;
  top: 776px;
}

.png-clipart-adobe-acrobat-pdf-computer-icons-adobe-reader-edu-invest-adobe-pdf-text-logo-thumbnail-removebg-preview-2 {
  width: 25px;
  height: 32px;
  position: absolute;
  left: 647px;
  top: 414px;
}

.kmz-icon-18-removebg-preview-1-2 {
  width: 35px;
  height: 34px;
  position: absolute;
  left: 657px;
  top: 776px;
}

.png-clipart-adobe-acrobat-pdf-computer-icons-adobe-reader-edu-invest-adobe-pdf-text-logo-thumbnail-removebg-preview-3 {
  width: 24px;
  height: 29px;
  position: absolute;
  left: 1013px;
  top: 414px;

  @media (max-width: 1024px) {
    margin-top: 700px;
    left: 24.76%;
  }
}

.rectangle-41962 {
  background: #002e83;
  border-radius: 30px;
  width: 75%;
  color: #ffffff;
  height: 30px;
  position: relative;
  // left: 40px;
  top: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media(max-width: 1281px) {
    top: 0px;
  }
}

.rectangle-41973 {
  background: #ffaa33;
  border-radius: 30px;
  width: 107px;
  height: 30px;
  position: absolute;
  left: 71px;
  top: 817px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-41965 {
  background: #ffaa33;
  border-radius: 30px;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 415px;
  top: 454px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-41974 {
  background: #ffaa33;
  border-radius: 30px;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 425px;
  top: 816px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-41968 {
  background: #ffaa33;
  border-radius: 30px;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 784px;
  top: 456px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: 1024px) {
    left: 6.26%;
    margin-top: 700px;
  }
}

.rectangle-41963 {
  background: #002e83;
  border-radius: 30px;
  width: max-content;
  color: #ffffff;
  height: 30px;
  position: relative;
  // left: 40px;
  top: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media(max-width: 1281px) {
    top: 0px;
  }
}

.rectangle-41976 {
  background: #ffaa33;
  border-radius: 30px;
  width: 108px;
  height: 30px;
  position: absolute;
  left: 200px;
  top: 817px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-41966 {
  background: #ffaa33;
  border-radius: 30px;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 546px;
  top: 454px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-41977 {
  background: #ffaa33;
  border-radius: 30px;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 556px;
  top: 816px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-41969 {
  background: #ffaa33;
  border-radius: 30px;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 913px;
  top: 456px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: 1024px) {
    left: 16.96%;
    margin-top: 700px;
  }
}

.view {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 35px;
  top: 7px;
  width: 74px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.view2 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 107px;
  top: 825px;
  width: 74px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.view3 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 449px;
  top: 463px;
  width: 74px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.view4 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 462px;
  top: 826px;
  width: 74px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.view5 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 821px;
  top: 466px;
  width: 73px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  @media (max-width: 1024px) {
    left: 9.26%;
    margin-top: 700px;
  }
}

.download {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 20px;
  top: 7px;
  width: 72px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.download2 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 222px;
  top: 826px;
  width: 72px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.download3 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 569px;
  top: 463px;
  width: 74px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.download4 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 576px;
  top: 825px;
  width: 74px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.download5 {
  color: #f1f1f1;
  text-align: left;
  font: 600 15px Inter;
  position: absolute;
  left: 933px;
  top: 466px;
  width: 73px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  @media (max-width: 1024px) {
    left: 18.76%;
    margin-top: 700px;
  }
}

.vector-91418 {
  position: absolute;
  right: 0px;
  top: 94px;
  overflow: visible;
}

.frame-1171275854 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1120px;
  position: absolute;
  right: 18px;
  top: 39px;

  @media (max-width: 1024px) {
    top: 0px;
  }
}

.projects {
  color: #000606;
  text-align: left;
  font: 500 32px Inter;
  position: relative;
  width: 521px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275852 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  margin-right: 125px;

  @media (max-width: 768px) {
    left: -33%;
  }

  @media (max-width: 1024px) {
    left: -23%;
  }
}

.frame-1171275846 {
  background: #ffffff;
  border-radius: 55px;
  padding: 13px 10px 13px 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 48px;
  position: relative;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);

  input {
    border: none;
    outline: none;
  }
}

.frame-1171275845 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.icons2 {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  position: relative;
}

.vuesax-linear-search-normal {
  position: absolute;
  inset: 0;
}

.search-normal {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.search-for-anything {
  color: rgba(6, 6, 6, 0.4);
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  flex: 1;
}

.frame-1171275847 {
  background: #ffffff;
  border-radius: 55px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
}

.vuesax-linear-notification {
  width: max-content;
  position: absolute;
  inset: 0;
}

.notification {
  position: absolute;
  left: 2.96px;
  top: 1.09px;
  overflow: visible;
}

.frame-1171275851 {
  width: max-content;
  background: #ffffff;
  border-radius: 24px;
  padding: 5px 20px 5px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: max-content;

  @media (max-width: 600px) {
    display: none;
  }
}

.ellipse-3226 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  position: relative;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
}

.frame-1171275855 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275849 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.alex-meian {
  color: #292d32;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.prodcut-manager {
  color: rgba(41, 45, 50, 0.44);
  text-align: left;
  font: 400 12px Inter;
  position: relative;
}

.icons3 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}

.frame-1171275880 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 133px;
  position: absolute;
  right: 1017px;
  top: 114px;
}

.frame-1171275879 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 280px;
  position: relative;
}

.documents {
  color: #060606;
  text-align: left;
  font: 400 22px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275877 {
  background: #6d6d6d;
  border-radius: 17px;
  padding: 2px 14px 2px 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}

.frame-1171275878 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.last-30-days {
  color: #6d6d6d;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icons4 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}

.i-os-notification-8-plus-or-11-pro-max-light {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  padding: 12px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  height: 82px;
  position: absolute;
  left: 1037px;
  top: 101px;
}

.header {
  flex-shrink: 0;
  width: 378px;
  height: 18px;
  position: relative;
}

.header2 {
  position: absolute;
  inset: 0;
}

.rectangle-34 {
  background: #767676;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.strava {
  color: #1d1d1d;
  text-align: left;
  font: 400 12px Inter;
  position: absolute;
  left: 25px;
  top: 2px;
  width: 183px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._30-m-ago {
  color: #1d1d1d;
  text-align: right;
  font: 400 12px Inter;
  position: absolute;
  right: 0px;
  top: 2px;
  width: 117px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.group-2 {
  width: 18px;
  height: 18px;
  position: static;
}

.image-1 {
  border-radius: 4px;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.meta-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.title-desc-pic {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.title-desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 331px;
  position: relative;
  overflow: hidden;
}

.title2 {
  color: #1d1d1d;
  text-align: left;
  font: 700 12px Inter;
  position: relative;
  width: 331px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 331px;
  position: relative;
  overflow: hidden;
}

.description2 {
  color: #1d1d1d;
  text-align: left;
  font: 400 12px Inter;
  position: relative;
  width: 331px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.roadie-2 {
  border-radius: 4px;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}

.menu {
  background: #060606;
  padding: 140px 46px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  height: 1080px;
  position: absolute;
  right: 1180px;
  top: 0px;
}

.button {
  background: #ffffff;
  border-radius: 24px;
  padding: 5px 20px 5px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 184px;
  height: 48px;
  position: relative;
}

.frame-1171275840 {
  background: #e65f2b;
  border-radius: 24px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.icons5 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.create-new-project {
  color: #171717;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275841 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.expand-tab {
  background: #060606;
  border-radius: 24px;
  padding: 13px 26px 13px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 184px;
  position: relative;
}

.vuesax-linear-category-2 {
  position: absolute;
  inset: 0;
}

.category-2 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.dashboard2 {
  color: #ffffff;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.expand-tab2 {
  padding: 13px 26px 13px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}

.category-22 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.dashboard3 {
  color: #f1f1f1;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.category-23 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-24 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-25 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-26 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-27 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-28 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-29 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.frame-1171275843 {
  background: #ffffff;
  border-radius: 17px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 245px;
  top: 30px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.icons6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.sky-x-color-2 {
  width: 190px;
  height: 98px;
  position: absolute;
  left: 30px;
  top: 14px;
}

.expand-tab3 {
  background: #ffffff;
  border-radius: 24px;
  padding: 13px 26px 13px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 184px;
  position: sticky;
  left: 30px;
  top: 310px;
}

.category-210 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.dashboard4 {
  color: #e65f2b;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.first {
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.highlight {
  background-color: yellow; // Set the background color to highlight
  font-weight: bold; // Set other styling as needed
}

// .container1 {
//   height: max-content;
//   padding-bottom: 15px;
// }
.container1 {
  background: #002e83;
  padding-bottom: 0.35%;
  color: #000;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 9998;

  .row {
    margin-left: 2%;
  }

  h1 {
    font-weight: bolder;
    margin-top: 1%;
    color: #fff;
  }
}

.delete_button {
  margin-top: 60px;
  margin-left: 70px;
}

.container {
  margin-left: 2%;
  overflow: auto;
}

.row {
  height: max-content;
}

// .container {
//   display: flex;
//   flex-direction: row;
// }