<div>
  <div class="container1">
    <br />
    <div class="row">
      <div class="col-lg-8">
        <h1>
          <i
            class="fa fa-long-arrow-left"
            style="font-weight: normal; cursor: pointer"
            (click)="back()"
          ></i>
          3D Viewer
        </h1>
      </div>
    </div>
  </div>
  <!-- <div
    id="scene-container"
    style="width: 100%; background-color: transparent"
  ></div> -->
  <div class="sketchfab-embed-wrapper">
    <iframe
      title="3D Files of3D View (2)"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
    >
    </iframe>
  </div>
</div>
