.vector-914 {
  position: absolute;
  right: 0px;
  top: 94px;
  overflow: visible;
}

@media (max-width: 600px) {
  .remove {
    display: none;
  }
}

.container {
  h1 {
    font-weight: bolder;
  }
}

.body {
  padding-top: 8%;
  position: relative;

}

.container2 {
  padding-bottom: 10px;
  background: #002e83;
  color: #000;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 9998;

  h1 {
    color: #fff
  }
}

.frame-1171275854 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 32px;
  top: 39px;

  @media (max-width: 1024px) {
    top: 0px;
  }
}

.dashboard2 {
  color: #000606;
  text-align: left;
  font: 400 32px Inter;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.col-md-6 {
  padding: 10px;
}

.col-sm-12 {
  padding: 10px;
}

.mobile-table {
  padding: 10px;
}

.frame-1171275852 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.frame-1171275846 {
  background: #ffffff;
  border-radius: 55px;
  padding: 13px 10px 13px 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 48px;
  position: relative;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
}

.frame-1171275845 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.icons {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
}

.vuesax-linear-search-normal {
  position: absolute;
  inset: 0;
}

.search-normal {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.search-for-anything {
  color: rgba(6, 6, 6, 0.4);
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  flex: 1;
}

.frame-1171275847 {
  background: #ffffff;
  border-radius: 55px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
}

.vuesax-linear-notification {
  width: max-content;
  position: absolute;
  inset: 0;
}

.notification {
  position: absolute;
  left: 2.96px;
  top: 1.09px;
  overflow: visible;
}

.frame-1171275851 {
  width: max-content;
  background: #ffffff;
  border-radius: 24px;
  cursor: pointer;
  padding: 5px 20px 5px 5px;
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.ellipse-3226 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  position: relative;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
}

.frame-1171275855 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275849 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.alex-meian {
  color: #292d32;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.prodcut-manager {
  color: rgba(41, 45, 50, 0.44);
  text-align: left;
  font: 400 12px Inter;
  position: relative;
}

.icons2 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
  display: none;
}

.frame-1171275880 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 30px;
  top: 114px;
}

.frame-1171275879 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1120px;
  position: relative;
  margin-left: 30px;
}

.overview {
  color: #060606;
  text-align: left;
  font: 400 22px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

select {
  color: white;

  option {
    color: white
  }
}

.frame-1171275877 {
  background: #090c2c;
  border-radius: 17px;
  padding: 2px 14px 2px 14px;
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 34px;
  position: relative;

  @media (max-width: 1024px) {
    display: none;
  }
}

.frame-1171275878 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.last-30-days {
  color: #6d6d6d;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icons3 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
  display: none;
}

.frame-1171275876 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275872 {
  background: rgba(255, 255, 255, 0.34);
  border-radius: 14px;
  padding: 18px 43px 24px 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 196px;
  position: relative;
}

.frame-1171275868 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275862 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275857 {
  background: #d398e7;
  border-radius: 26px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.vuesax-linear-chart {
  position: absolute;
  inset: 0;
}

.chart {
  width: 19.5px;
  height: 21.5px;
  position: static;
}

.group {
  width: 19.5px;
  height: 21.5px;
  position: static;
}

.component-5 {
  position: absolute;
  left: 1px;
  top: 0px;
  overflow: visible;
}

.frame-1171275860 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.on-going-projects {
  color: #ffffff;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

._1065 {
  color: #fff;
  text-align: left;
  font: 400 28px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275866 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275867 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.icons4 {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
}

.vuesax-linear-arrow-right {
  position: absolute;
  inset: 0;
}

.arrow-right {
  position: absolute;
  left: 0.37px;
  top: 8px;
  transform: translate(0px, -7.63px);
  overflow: visible;
  display: none;
}

._12-increase-from-last-month {
  color: #060606;
  text-align: left;
  font: 400 10px/12px Inter;
  position: relative;
  width: 156px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275873 {
  background: rgba(255, 255, 255, 0.34);
  border-radius: 14px;
  padding: 18px 43px 24px 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 196px;
  position: relative;
}

.frame-1171275856 {
  background: #e89271;
  border-radius: 26px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.vuesax-linear-briefcase {
  position: absolute;
  inset: 0;
}

.briefcase {
  position: absolute;
  left: 1.37px;
  top: 1.15px;
  overflow: visible;
}

.upcoming-projects {
  color: #ffffff;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

._95-100 {
  color: #060606;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._95-100-span {
  color: #fff;
  font: 400 28px Inter;
}

._95-100-span2 {
  color: #060606;
  font: 400 16px Inter;
}

.frame-11712758672 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.arrow-right2 {
  position: absolute;
  left: 6px;
  top: 0.37px;
  transform: translate(-5.63px, 0px);
  overflow: visible;
  display: none;
}

._10-decrease-from-last-month {
  color: #060606;
  text-align: left;
  font: 400 10px/12px Inter;
  position: relative;
  width: 163px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275874 {
  background: rgba(255, 255, 255, 0.34);
  border-radius: 14px;
  padding: 18px 43px 24px 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 268px;
  height: 196px;
  position: relative;

  @media (max-width: 768px) {
    margin-right: 120px;
  }
}

.frame-1171275864 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275859 {
  background: #70a1e5;
  border-radius: 26px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.vuesax-linear-clock {
  position: absolute;
  inset: 0;
}

.clock {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.completed-projects {
  color: #ffffff;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

._1022 {
  color: #fff;
  text-align: left;
  font: 400 28px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow-right3 {
  position: absolute;
  left: 0.37px;
  top: 8px;
  transform: translate(0px, -7.63px);
  overflow: visible;
  display: none;
}

._8-increase-from-last-month {
  color: #060606;
  text-align: left;
  font: 400 10px/12px Inter;
  position: relative;
  width: 151px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.table thead th {
  font-size: 18px;
  border-bottom: 2px solid #56577a;
  border-top: 0px solid #56577a;

  @media(max-width: 1367px) {
    font-size: 16px;
  }

  @media(max-width: 1281px) {
    font-size: 14px;
  }

  @media(max-width: 1025px) {
    font-size: 13px;
  }
}

.table td,
.table th {
  font-size: 14px;
  border-bottom: 2px solid #56577a;
}

table {
  width: 100%;
}

.frame-1171275875 {
  border-radius: 14px;
  padding: 18px 43px 24px 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 196px;
  position: relative;
}

.frame-1171275865 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275858 {
  background: #090c2e;
  border-radius: 26px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.vuesax-linear-user {
  position: absolute;
  inset: 0;
}

.user {
  position: absolute;
  left: 2.44px;
  top: 1.15px;
  overflow: visible;
}

.total-projects {
  color: #ffffff;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  width: 101px;
}

._150000 {
  color: #fff;
  text-align: left;
  font: 400 28px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow-right4 {
  position: absolute;
  left: 0.37px;
  top: 8px;
  transform: translate(0px, -7.63px);
  overflow: visible;
  display: none;
}

._2-increase-from-last-month {
  color: #060606;
  text-align: left;
  font: 400 10px/12px Inter;
  position: relative;
  width: 151px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275903 {
  background: rgba(255, 255, 255, 0.34);
  border-radius: 14px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 30px;
  top: 394px;
  overflow: hidden;
}

.frame-1171275902 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275919 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275892 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 364px;
  position: relative;
}

.overall-progress {
  color: #060606;
  text-align: left;
  font: 400 16px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275882 {
  background: #ffffff;
  border-radius: 17px;
  padding: 2px 14px 2px 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}

.frame-11712758782 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.all {
  color: #060606;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icons5 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}

.frame-1171275918 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-1171275893,
.frame-1171275893 * {
  box-sizing: border-box;
}

.frame-1171275893 {
  flex-shrink: 0;
  width: 347px;
  height: 178px;
  position: relative;
}

.group-1171275855 {
  position: absolute;
  inset: 0;
}

.ellipse-3235 {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  width: 298px;
  height: 298px;
  position: absolute;
  right: 25px;
  top: 25px;
}

.ellipse-3236 {
  background: #1a932e;
  border-radius: 50%;
  width: 298px;
  height: 298px;
  position: absolute;
  right: 25px;
  top: 25px;
  box-shadow: inset 0px 3px 4px 0px rgba(255, 255, 255, 0.45);
}

.layer-1-2 {
  position: absolute;
  left: 343.63px;
  top: 167px;
  transform: translate(-343.38px, -166.93px);
  overflow: visible;
}

._0 {
  color: #000000;
  text-align: left;
  font: 400 12px Inter;
  position: absolute;
  right: 339px;
  top: 175px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._100 {
  color: #000000;
  text-align: left;
  font: 400 12px Inter;
  position: absolute;
  right: 1px;
  top: 164px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._25 {
  color: #000000;
  text-align: left;
  font: 400 12px Inter;
  position: absolute;
  right: 258px;
  top: 31px;
  transform-origin: 0 0;
  transform: rotate(-31.01deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._50 {
  color: #000000;
  text-align: left;
  font: 400 12px Inter;
  position: absolute;
  right: 66.79px;
  top: 29px;
  transform-origin: 0 0;
  transform: rotate(31deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ellipse-3237 {
  background: #e5ae21;
  border-radius: 50%;
  width: 298px;
  height: 298px;
  position: absolute;
  right: 25px;
  top: 25px;
  box-shadow: inset 0px 3px 4px 0px rgba(255, 255, 255, 0.25),
    -2px 0px 4px 0px rgba(255, 255, 255, 0.13);
}

.ellipse-3238 {
  background: #e65f2b;
  border-radius: 50%;
  width: 298px;
  height: 298px;
  position: absolute;
  right: 25px;
  top: 25px;
  box-shadow: inset 0px 3px 4px 0px rgba(255, 255, 255, 0.25),
    -2px 0px 4px 0px rgba(255, 255, 255, 0.13);
}

.frame-1171275894 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 36.5px);
  top: calc(50% - -9.5px);
}

._72 {
  color: #060606;
  text-align: left;
  font: 400 28px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.completed {
  color: #9a9a9a;
  text-align: center;
  font: 400 14px Inter;
  position: relative;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-1171275899 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 364px;
  position: relative;
}

.frame-1171275895 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._95 {
  color: #060606;
  text-align: left;
  font: 400 22px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.total-projects2 {
  color: #797979;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

table {
  margin-left: -54px;
  margin-top: 1%;
}

thead th {
  padding-left: 60px;
  font-size: 20px;
}

tbody td {
  padding-top: 20px;
  padding-left: 55px;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .br {
    display: none;
  }
}

.frame-1171275896 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._26 {
  color: #1a932e;
  text-align: left;
  font: 400 22px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.completed2 {
  color: #797979;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.frame-1171275897 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._35 {
  color: #dfa510;
  text-align: left;
  font: 400 22px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.delayed {
  color: #797979;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.frame-1171275898 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._352 {
  color: #e65f2b;
  text-align: left;
  font: 400 22px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.on-going {
  color: #797979;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.frame-1171275853 {
  background: #e65f2b;
  border-radius: 48px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 48px;
  // height: 48px;
  position: absolute;
  left: 30px;
  top: 960px;
  box-shadow: 0px 8px 15px 0px rgba(19, 15, 57, 0.12);
  display: none;

  @media (max-width: 768px) {
    display: none;
  }
}

.icons6 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.frame-1171275904 {
  background: rgba(255, 255, 255, 0.34);
  border-radius: 14px;
  padding: 18px 18px 10px 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 45vh;
  position: absolute;
  overflow: auto;
  scroll-padding: 1px;
  width: 96%;
}

.frame-1171275904::-webkit-scrollbar {
  width: 1px;
}

.frame-1171275884 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}

.project-summary {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.frame-1171275883 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-11712758783 {
  background: #ffffff;
  border-radius: 17px;
  padding: 2px 14px 2px 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}

.project {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.icons7 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}

.frame-1171275881 {
  background: #ffffff;
  border-radius: 17px;
  padding: 2px 14px 2px 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}

.project-manager {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.icons8 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}

.status {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.icons9 {
  flex-shrink: 0;
  position: relative;
  transform: translate(0px, 0px);
  overflow: visible;
}

.frame-1171275890 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.group-1171275854 {
  flex-shrink: 0;
  position: absolute;
  overflow: visible;

  th {
    gap: 10px;
  }
}

.vector-915-stroke {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.frame-1171275927 {
  flex-shrink: 0;
  width: 672px;
  height: 226px;
  position: relative;
  overflow: hidden;
}

._502 {
  color: #000000;
  text-align: left;
  font: 600 6.81px Inter;
  position: absolute;
  left: 618px;
  top: 192px;
  width: 17.5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._1002 {
  color: #000000;
  text-align: left;
  font: 600 6.81px Inter;
  position: absolute;
  left: 618px;
  top: 147px;
  width: 17.5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._2 {
  color: #000000;
  text-align: left;
  font: 600 6.81px Inter;
  position: absolute;
  left: 621px;
  top: 101px;
  width: 17.5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._39 {
  color: #000000;
  text-align: left;
  font: 600 6.81px Inter;
  position: absolute;
  left: 618px;
  top: 59.73px;
  width: 17.5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

._1003 {
  color: #000000;
  text-align: left;
  font: 600 6.81px Inter;
  position: absolute;
  left: 618px;
  top: 14.73px;
  width: 17.5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.completed3 {
  color: #000000;
  text-align: left;
  font: 600 10.89px Inter;
  position: absolute;
  left: 479px;
  top: 147px;
  width: 65px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.at-risk {
  color: #000000;
  text-align: left;
  font: 600 10.89px Inter;
  position: absolute;
  left: 482px;
  top: 101px;
  width: 55px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.delayed2 {
  color: #000000;
  text-align: left;
  font: 600 10.89px Inter;
  position: absolute;
  left: 482px;
  top: 59px;
  width: 60px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.l-d {
  color: #000000;
  text-align: left;
  font: 600 16px Inter;
  position: absolute;
  left: 5px;
  top: 13.73px;
  width: 211px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.k-s-globals {
  color: #000000;
  text-align: left;
  font: 600 16px Inter;
  position: absolute;
  left: 5px;
  top: 49.73px;
  width: 211px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bisync-solution {
  color: #000000;
  text-align: left;
  font: 600 16px Inter;
  position: absolute;
  left: 5px;
  top: 85.73px;
  width: 211px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cloco {
  color: #000000;
  text-align: left;
  font: 600 16px Inter;
  position: absolute;
  left: 5px;
  top: 121.73px;
  width: 211px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.beeyond-zero {
  color: #000000;
  text-align: left;
  font: 600 16px Inter;
  position: absolute;
  left: 5px;
  top: 157.73px;
  width: 211px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.giotex {
  color: #000000;
  text-align: left;
  font: 600 16px Inter;
  position: absolute;
  left: 5px;
  top: 193.73px;
  width: 211px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jun-07-2023 {
  color: #000000;
  text-align: left;
  font: 600 14px Inter;
  position: absolute;
  left: 378px;
  top: 7.73px;
  width: 83px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.completed4 {
  color: #000000;
  text-align: left;
  font: 600 10.89px Inter;
  position: absolute;
  left: 484px;
  top: 15.73px;
  width: 57.56px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jun-07-20232 {
  color: #000000;
  text-align: left;
  font: 600 14px Inter;
  position: absolute;
  left: 378px;
  top: 52.73px;
  width: 83px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jun-07-20233 {
  color: #000000;
  text-align: left;
  font: 600 14px Inter;
  position: absolute;
  left: 378px;
  top: 97.73px;
  width: 83px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jun-07-20234 {
  color: #000000;
  text-align: left;
  font: 600 14px Inter;
  position: absolute;
  left: 378px;
  top: 142.73px;
  width: 83px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jun-07-20235 {
  color: #000000;
  text-align: left;
  font: 600 14px Inter;
  position: absolute;
  left: 378px;
  top: 187.73px;
  width: 83px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rectangle-41951 {
  background: rgba(26, 147, 46, 0.4);
  border-radius: 50px;
  width: 79px;
  height: 17px;
  position: absolute;
  left: 472px;
  top: 10.73px;
}

.rectangle-41956 {
  background: rgba(26, 147, 46, 0.4);
  border-radius: 50px;
  width: 22px;
  height: 20px;
  position: absolute;
  left: 614px;
  top: 7.73px;
}

.rectangle-41952 {
  background: rgba(229, 174, 33, 0.46);
  border-radius: 50px;
  width: 79px;
  height: 17px;
  position: absolute;
  left: 470px;
  top: 53.73px;
}

.rectangle-41957 {
  background: rgba(229, 174, 33, 0.46);
  border-radius: 50px;
  width: 22px;
  height: 20px;
  position: absolute;
  left: 613px;
  top: 52.73px;
}

.rectangle-41953 {
  background: rgba(238, 32, 28, 0.42);
  border-radius: 50px;
  width: 79px;
  height: 17px;
  position: absolute;
  left: 472px;
  top: 97.73px;
}

.rectangle-41958 {
  background: rgba(238, 32, 28, 0.42);
  border-radius: 50px;
  width: 22px;
  height: 21px;
  position: absolute;
  left: 614px;
  top: 93.73px;
}

.rectangle-41954 {
  background: rgba(26, 147, 46, 0.4);
  border-radius: 50px;
  width: 79px;
  height: 17px;
  position: absolute;
  left: 472px;
  top: 143.73px;
}

.rectangle-41959 {
  background: rgba(26, 147, 46, 0.4);
  border-radius: 50px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 614px;
  top: 138.73px;
}

.rectangle-41955 {
  background: rgba(230, 95, 43, 0.47);
  border-radius: 50px;
  width: 79px;
  height: 17px;
  position: absolute;
  left: 472px;
  top: 184.73px;
}

.rectangle-41960 {
  background: rgba(230, 95, 43, 0.47);
  border-radius: 50px;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 614px;
  top: 182.73px;
}

.ongoing {
  color: #000000;
  text-align: left;
  font: 600 10.89px Inter;
  position: absolute;
  left: 481px;
  top: 188px;
  width: 61px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275928 {
  width: 198px;
  height: 55px;
  position: absolute;
  left: 34px;
  top: 304px;
  overflow: hidden;
}

.menu {
  background: #060606;
  padding: 140px 46px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  height: 1080px;
  position: sticky;
  right: 1180px;
  top: 0px;
}

.button {
  background: #ffffff;
  border-radius: 24px;
  padding: 5px 20px 5px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 184px;
  height: 48px;
  position: relative;
}

.frame-1171275840 {
  background: #e65f2b;
  border-radius: 24px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.icons10 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.create-new-project {
  color: #171717;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1171275841 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.expand-tab {
  background: #ffffff;
  border-radius: 24px;
  padding: 13px 26px 13px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 184px;
  position: relative;
}

.vuesax-linear-category-2 {
  position: absolute;
  inset: 0;
}

.category-2 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.dashboard3 {
  color: #e65f2b;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.expand-tab2 {
  padding: 13px 26px 13px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}

.category-22 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.dashboard4 {
  color: #f1f1f1;
  text-align: left;
  font: 400 14px Inter;
  position: relative;
}

.category-23 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-24 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-25 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-26 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-27 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-28 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.category-29 {
  position: absolute;
  left: 1.15px;
  top: 1.15px;
  overflow: visible;
}

.frame-1171275843 {
  background: #ffffff;
  border-radius: 17px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 245px;
  top: 30px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.icons11 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.sky-x-color-1 {
  width: 190px;
  height: 98px;
  position: sticky;
  left: 30px;
  top: 11px;
}

@media (max-width: 992px) {
  .frame-1171275852 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    margin-right: 281px;

    @media (max-width: 768px) {
      margin-right: 550px;
    }
  }

  .dashboard2 {
    color: #000606;
    text-align: left;
    font: 400 32px Inter;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .frame-1171275846 {
    background: #ffffff;
    border-radius: 55px;
    padding: 13px 10px 13px 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    height: 48px;
    position: relative;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
    margin-right: 45px;

    @media (max-width: 768px) {
      margin-right: 30px;
    }
  }
}

.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container1 {
  background: #002e83;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  // width: 268px;
  height: 25vh;
}

.row {
  width: 96%;
  margin-left: 2%;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .table {
    display: none;
  }
}

.mobile-table .card {
  border: 1px solid black;
  padding: 15px;
  background: rgba(255, 255, 255, 0.34);
  border-radius: 10px;
}

.mobile-table .card .title {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.mobile-table .card .title h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.mobile-table .card .details h3 {
  font-weight: 500;
}

@media (min-width: 769px) {
  .mobile-table {
    display: none;
  }
}