// Large devices (desktops, 992px and up) lg
@media only screen and (max-width: 991px) and (min-width: 320px) {
    body {
        .clsSearchPage {
            .clsAddressLeft { 
                height: 100%;
            }
        }

        .homePage {
            .contentSec2 {
                .content2-box {
                    .col {
                        flex-basis: auto;
                        flex-grow: unset;
                        max-width: 33%;
                    }

                    .box {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}


// Medium devices (tablets, 768px and up) md
@media only screen and (max-width: 768px) and (min-width: 320px) {
    body {
        .homePage {
            .content {
              margin-right: 0; /* Adjust the content to occupy full width */
            }
            .contentSec2 {
                .content2-box {
                    .col { 
                        max-width: 50%;
                        margin-left: 0;
                    } 
                }
            }
        }
        .header {
            display: none;
        }

    }
}

// Small devices (landscape phones, 576px and up) sm  
@media only screen and (max-width: 480px) and (min-width: 320px) {
    body {
        .homePage {
            .sidebar{
                display: none;
            }
            .bannerContent{
                height: 100%;
            }
            
            .contentSec2 {
                .content2-box {
                    .col { 
                        max-width: 100%;
                    } 
                }
            }
        }
    }
}